<div
        class="mt-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-x-10 gap-y-10">

    {% for product in products %}
        <div class="group relative cursor-pointer">
            <a href="{% url 'product' slug=product.slug %} ">
                <div
                        class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none lg:h-80 group-hover:opacity-75">
                    <img
                            src="{{ product.image.url }}"
                            alt="Front of men&#039;s Basic Tee in black."
                            class="h-full w-full object-cover object-center lg:h-full lg:w-full"/>
                </div>
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="text-sm text-gray-700">
                            {{ product.name }}
                        </h3>
                        <p class="mt-1 text-sm text-gray-500">{{ product.category_list }}</p>
                    </div>
                    <div>
                        <p class="text-sm font-bold text-gray-900 text-end">{{ product.price }}</p>
                        <button class="px-2 py-2 bg-primary-500 rounded-md text-white hover:bg-primary-700">
                            <a href="{% url 'add_to_cart' product_id=product.id %}">Add to cart</a>
                        </button>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}

</div>