* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-box {
    position: fixed;
    border: white 1px solid;
    height: 205px;
    width: 221px;
    opacity: .2;
    z-index: -1;
}

.bg-box:nth-child(1) {
    top: -30px;
    left: 400px;
    width: 446px;
    height: 323px;
}

.bg-box:nth-child(2) {
    top: 166px;
    left: 820px;
    width: 446px;
    height: 323px;
}

.bg-box:nth-child(3) {
    top: 296px;
    left: 1200px;
    width: 446px;
    height: 323px;
}

.bg-box:nth-child(4) {
    top: -200px;
    left: 1300px;
    width: 446px;
    height: 323px;
}

.bg-box:nth-child(5) {
    top: 500px;
    left: 450px;
    width: 446px;
    height: 323px;
}

.bg-box:nth-child(6) {
    width: 446px;
    height: 323px;
    top: 80px;
    left: 100px;
}

.bg-box:nth-child(7) {
    width: 446px;
    height: 323px;
    top: 700px;
    left: 100px;
}

.bg-box:nth-child(8) {
    width: 446px;
    height: 500px;
    top: 300px;
    left: -100px;
}

.bg-box:nth-child(9) {
    width: 446px;
    height: 323px;
    top: 50px;
    left: 1100px;
}

.bg-box:nth-child(10) {
    width: 446px;
    height: 323px;
    top: 50px;
    left: 1800px;
}

.bg-box:nth-child(11) {
    width: 446px;
    height: 323px;
    top: 500px;
    left: 1600px;
}

.bg-box:nth-child(12) {
    width: 446px;
    height: 323px;
    top: 600px;
    left: 1000px;
}

.bg-box:nth-child(13) {
    width: 446px;
    height: 323px;
    top: 800px;
    left: 1300px;
}

.messages{
    width: 920px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
}

.alert {
    padding: 20px;
    color: white;
    margin-bottom: 15px;
}

.alert-success {
    background-color: #2eb886; /* Red */
}

.alert-error {
    background-color: #f44336;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}