<div
        class="dropdown"
        id="dropdown-profile">
    <a
            id="profile-icon"
            class="dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
        <i class="fa-solid fa-circle-user display-6"></i>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a
                    href="{% url 'profile' %}"
                    class="dropdown-item"
                    type="button">
                My Profile
            </a>
        </li>
        <li>
            <a
                    href="{% url 'logout' %}"
                    class="dropdown-item d-flex justify-content-between align-items-center"
                    type="button">
                Logout <i class="fa-solid fa-right-from-bracket"></i>
            </a>
        </li>
    </ul>
</div>