{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
    </style>

    <link rel="stylesheet" href="{% static 'css/userProfile.css' %}"/>
    <title>User Profile</title>
</head>
<body>
<main>
    <div class="bg-box"></div>
    <div class="bg-box"></div>
    <div class="bg-box"></div>
    <div class="bg-box"></div>
    <div class="bg-box"></div>
    <div class="bg-box"></div>
    <div class="bg-box"></div>
    <div class="bg-box"></div>
    <div class="bg-box"></div>
    <div class="bg-box"></div>
    <div class="bg-box"></div>
    <div class="bg-box"></div>
    <div class="bg-box"></div>
    <div class="bg-box"></div>
    <div class="container">
        <div class="messages">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'error' %}alert-danger {% else %}alert-success {% endif %}">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="small-container">
            <h1>Profile</h1>
            <div class="logout-btn">
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
        <div class="user-info">
            <div class="full-name-container">
                <form action="#" id="form1">
                    <div class="divider">
                        <label>First name</label><br/><br/>
                        <p class="user-value">{{ user.first_name }}</p>
                    </div>
                    <div class="divider">
                        <label>Last name</label><br/><br/>
                        <p class="user-value">{{ user.last_name }}</p>
                    </div>
                </form>
            </div>
            <div class="line-divider"></div>
            <div class="username-container">
                <form action="#" id="form2">
                    <div class="divider">
                        <label>Email</label><br/><br/>
                        <p class="user-value">{{ user.email }}</p>
                    </div>
                    <div class="divider">
                        <label>LAST LOGIN</label><br/>
                        <p class="user-value">19/09/2023</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>